@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.resizingContainer {
  cursor: e-resize;
}

h1{
  position: relative;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.selection{
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cons{
  width: 30%;
  height: 50vh;
  border: 4px solid #1E283D;
  border-radius: 10px;
  transition: transform .4s;
  color: black;
  text-align: center;
}

.cons h2{

}

.cons:hover{
  /*box-shadow: 0 25px 40px -20px #1E283D;*/
  transform: scale(.97);
}

.selected{
  border: 4px solid #6BBC68;
}

#House_1{
  display: block;
  width: 80%;
  height: 70%;
  margin: 20px auto;
  /*background: url(images/House_1.svg);
  background-size: contain;
  background-repeat: no-repeat;*/
}

#House_2{
  display: block;
  /*text-indent: -9999px;*/
  width: 80%;
  height: 70%;
  margin: 20px auto;
  /*background: url(images/House_2.svg);
  background-size: contain;
  background-repeat: no-repeat;*/
}

#House_3{
  display: block;
  width: 80%;
  height: 70%;
  margin: 20px auto;
  /*background: url(images/House_3.svg);
  background-size: contain;
  background-repeat: no-repeat;*/
}

.noshow{
  visibility: hidden;
}

figcaption{
  font-size: 64px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 100px;
}

.d3 rect{
  stroke: rgb(0, 0, 0);
  stroke-width: 2px;
}

.d3 svg g:nth-child(1) rect{
  fill: rgba(0,0,0,.8);
}

.d3 svg g:nth-child(1) text{
  fill: white;
}

.d3 svg g:nth-child(2) rect{
  fill: #000;
}

.d3 svg g:nth-child(2) text{
  fill: white;
}

.d3 svg g:nth-child(3) rect{
  fill: #F8D800;
}

.d3 svg g:nth-child(3) text{
  fill: white;
}

.d3 svg g:nth-child(4) rect{
  fill: #6BBC68;
}

.d3 svg g:nth-child(4) text{
  fill: white;
}

.d3 svg g:nth-child(5) rect{
  fill: #B210FF;
}

.d3 svg g:nth-child(5) text{
  fill: white;
}
